*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

input {
    border: none;
}

.to-do {
    background-color: gray;
}

.in-progress{
    background-color: yellow;
}

.done {
    background-color: greenyellow;
}

